<div class="container-fluid">
  <nav class="navbar navbar-expand-lg header">
    <div class="header__item">
      <div class="btn-group" dropdown>
        <button
          id="button-autoclose1"
          dropdownToggle
          type="button"
          class="navbar-toggler button_reset"
          aria-controls="dropdown-autoclose1"
        >
          <span class="navbar-toggler-icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </span>
        </button>
        <ul id="dropdown-autoclose1" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-autoclose1">
          <li role="menuitem"><a class="dropdown-item" routerLink="/delivery">Доставка</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/news">Новости</a></li>
          <li role="menuitem"><a class="dropdown-item" routerLink="/comments">Отзывы</a></li>
        </ul>
      </div>
      <a class="navbar-brand logo_header" [ngStyle]="{'background-image': getLogo()}" routerLink="/home">
      </a>
      <div class="info">
        <div class="city_header" [innerHTML]="info.city"></div>
        <div class="about">
          <p class="phone phone_header" *ngFor="let phone of getPhones()">{{phone}}</p>
          <p class="delivery" [innerHTML]="info.delivery_time"></p>
        </div>
      </div>
    </div>
    <div class="header__item">
      <div class="collapse navbar-collapse navigation_sm-style navigation_position">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link link link_dark" routerLink="/delivery">Доставка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link link_dark" routerLink="/news">Новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link link_dark" routerLink="/comments">Отзывы</a>
          </li>
        </ul>
        <div class="sub-info">
          <hr>
          <p class="phone phone_header" *ngFor="let phone of getPhones()">{{phone}}</p>
        </div>

      </div>
    </div>
    <div class="header__item">
      <div class="cart-info">
        <p class="cart-info__cost">0 ₴</p>
        <p class="cart-info__quantity">0 товаров</p>
      </div>
      <div class="cart">
        <a class="nav-link link link_light" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Корзина</a>
      </div>
    </div>
  </nav>
</div>
<hr>
<div class="container">
  <ul class="menu navbar-nav mr-auto">
    <li class="menu__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="sushi">Суши</li>
    <li class="menu__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="rolls">Роллы</li>
    <li class="menu__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="sets">Сеты</li>
    <li class="menu__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="spice">Специи</li>
    <li class="menu__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="drinks">Напитки</li>

    <li class="menu__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('sushi')">Суши</li>
    <li class="menu__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('rolls')">Роллы</li>
    <li class="menu__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('sets')">Сеты</li>
    <li class="menu__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('spice')">Специи</li>
    <li class="menu__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('drinks')">Напитки</li>
  </ul>

  <div
    class="menu-mobile__trigger"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseBasic"
  >Меню</div>
  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <div class="well well-lg card card-block">
      <ul class="menu-mobile navbar-nav">
        <li class="menu-mobile__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="sushi">Суши</li>
        <li class="menu-mobile__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="rolls">Роллы</li>
        <li class="menu-mobile__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="sets">Сеты</li>
        <li class="menu-mobile__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="spice">Специи</li>
        <li class="menu-mobile__item link link_dark" *ngIf="!this.routingValue" routerLink="/home" fragment="drinks">Напитки</li>

        <li class="menu-mobile__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('sushi')">Суши</li>
        <li class="menu-mobile__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('rolls')">Роллы</li>
        <li class="menu-mobile__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('sets')">Сеты</li>
        <li class="menu-mobile__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('spice')">Специи</li>
        <li class="menu-mobile__item link link_dark" *ngIf="this.routingValue" (click)="sendAnchor('drinks')">Напитки</li>
      </ul>
    </div>
  </div>
</div>
<hr>
