<button mat-icon-button (click)="logout()">
  <mat-icon>close</mat-icon>
</button>
<div class="side-menu">
  <div class="side-menu__item">
    <a mat-flat-button routerLink="/panel/products" class="side-menu__link">Товары</a>
  </div>
  <div class="side-menu__item" *ngIf="userRole === 'ADMIN'">
    <a mat-flat-button routerLink="/panel/users" class="side-menu__link">Админы</a>
  </div>
  <div class="side-menu__item" *ngIf="userRole === 'ADMIN'">
    <a mat-flat-button routerLink="/panel/comments" class="side-menu__link">Комментарии</a>
  </div>
  <div class="side-menu__item" *ngIf="userRole === 'ADMIN'">
    <a mat-flat-button routerLink="/panel/news" class="side-menu__link">Новости</a>
  </div>
  <div class="side-menu__item" *ngIf="userRole === 'ADMIN'">
    <a mat-flat-button routerLink="/panel/store-info" class="side-menu__link">Информация</a>
  </div>
</div>
