a.anchor {
  display: block;
  position: relative;
  top: -200px;
  visibility: hidden;
}

.carousel {
  width: 90%;
  margin: 20px auto;
}

.slide-image {
  width: 100%;
  justify-content: center;
  border-radius: 30px;
}

