<div class="container-fluid">
  <div class="row">
    <carousel class="carousel" [showIndicators]="false">
      <slide>
        <img class="slide-image" src="assets/first-slide.jpg" alt="first slide">
      </slide>
      <slide>
        <img class="slide-image" src="assets/second-slide.jpg" alt="second slide">
      </slide>
      <slide>
        <img class="slide-image" src="assets/third-slide.jpg" alt="third slide">
      </slide>
    </carousel>
  </div>
  <div class="row">
    <div class="col-xl-12" [class.show]="!sushiProd.length">
      <div class="container-fluid">
        <div class="product-wrapper">
          <h5><a class="anchor" id="sushi" #sushi></a>Суши</h5>
          <app-product-category  *ngIf="sushiProd.length" class="row w-100" [productByCategory]="sushiProd"></app-product-category>
        </div>
      </div>
    </div>
    <div class="col-xl-12"  [class.show]="!rollsProd.length">
      <div class="container-fluid">
        <div class="product-wrapper">
          <h5><a class="anchor" id="rolls" #rolls></a>Роллы</h5>
          <app-product-category *ngIf="rollsProd.length" class="row w-100" [productByCategory]="rollsProd"></app-product-category>
        </div>
      </div>
    </div>
    <div class="col-xl-12"  [class.show]="!setsProd.length">
      <div class="container-fluid">
        <div class="product-wrapper">
          <h5><a class="anchor" id="sets" #sets></a>Сеты</h5>
          <app-product-category *ngIf="setsProd.length" class="row w-100" [productByCategory]="setsProd"></app-product-category>
        </div>
      </div>
    </div>
    <div class="col-xl-12"  [class.show]="!drinksProd.length">
      <div class="container-fluid">
        <div class="product-wrapper">
          <h5><a class="anchor" id="drinks" #drinks></a>Напитки</h5>
          <app-product-category *ngIf="drinksProd.length" class="row w-100" [productByCategory]="drinksProd"></app-product-category>
        </div>
      </div>
    </div>
    <div class="col-xl-12"  [class.show]="!spicesProd.length">
      <div class="container-fluid">
        <div class="product-wrapper">
          <h5><a class="anchor" id="spices" #spices></a>Специи</h5>
          <app-product-category *ngIf="spicesProd.length" class="row w-100" [productByCategory]="spicesProd"></app-product-category>
        </div>
      </div>
    </div>
  </div>
</div>
