<div class="container-fluid">
  <div class="row">
    <carousel class="carousel" [showIndicators]="false">
      <slide>
        <img class="slide-image" src="assets/first-slide.jpg" alt="first slide">
      </slide>
      <slide>
        <img class="slide-image" src="assets/second-slide.jpg" alt="second slide">
      </slide>
      <slide>
        <img class="slide-image" src="assets/third-slide.jpg" alt="third slide">
      </slide>
    </carousel>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="container-fluid news-wrapper">
        <div class="row" >
          <div *ngFor="let product of products" class=" col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <app-product-card
              [product]="product"
            ></app-product-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <h5><a class="anchor" id="rolls" #rolls></a>Header Rolls</h5>
    </div>
    <div class="col-xl-12">
      <h5><a class="anchor" id="sets" #sets></a>Header Sets</h5>
    </div>
  </div>
</div>
