<mat-sidenav-container class="users row">
  <mat-sidenav
    class="col-sm-3 col-md-3 col-lg-3 col-xl-3 users__sidenav"
    mode="side"
    opened
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content
    class="col-sm-9 col-md-9 col-lg-9 col-xl-9"
  >
    <app-add-user
      (addUser)="onAddUser($event)"
    ></app-add-user>
    <table class="table table-hover user-table">
      <thead>
      <tr>
        <th scope="col">Логин</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Телефон</th>
        <th scope="col">Роль</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td scope="row">{{user.login}}</td>
          <td>{{user.name}}</td>
          <td>{{user.sername}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.role}}</td>
          <th>
            <a class="user-table__link" (click)="chooseUser(user)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <br>
            <a class="user-table__link" (click)=removeUser(user.id)><i class="fa fa-trash" aria-hidden="true"></i></a>
          </th>
        </tr>
      </tbody>
    </table>
    <app-edit-user
      (editUser)="onEditUser($event)"
      [currentUser]="currentUser"
    ></app-edit-user>
  </mat-sidenav-content>
</mat-sidenav-container>
