app-header {
  position: fixed;
  background-color: #fff;
  z-index: 1;
  width: 100%;

  @media screen and (max-width: 500px) {
    position: static;
  }
}

div {
  height: 150px;
  @media screen and (max-width: 500px) {
    display: none;
  }
}

