$main-color: #e0112f;
.image_wrapper {
  margin: 0 auto;
}
.product-card {
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 10px;
  transition: all ease-in 2ms;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;

  &__image {
    max-height: 200px;
    max-width: 200px;
  }

  &__consist {
    color: #918686;
    font-size: 12px;
  }

  &__header {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__button {
    background-color: $main-color;
    color: #ffffff;
    border-radius: 20px;

    &:hover {
      background-color: #ff3351;
    }
  }

  &__price {
    width: 40%;
  }

  &:hover {
    border: 2px solid #eeeeee;
    transition: all ease-in 2ms;
  }

  &:hover &__header{
    color: $main-color;
  }
}

.link {
  font-weight: 500;

  &_light {
    color: #ffffff !important;
    background: $main-color;
    border-radius: 17px;
    padding: 10px 20px;
    margin: 20px auto;
    text-align: center;
    width: 200px;
    cursor: pointer;
  }
}

